.quickAccessWrapper {
  display: flex;
  align-items: center;
}

.quickAccessLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 2px;
  border: 1px solid #e2e8f0;
  font-weight: 400;
  font-size: 14px;
  color: #51459f;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease,
    box-shadow 0.2s ease;
}

.quickAccessLink:hover {
  background-color: rgba(117, 127, 255, 0.08);
  color: #3b2c92;
  text-decoration: none;
}

.quickAccessIcon {
  display: none;
}

.quickAccessIcon:hover {
  display: none;
}

@media only screen and (max-width: 767px) {
  .quickAccessLink {
    display: none;
  }

  .quickAccessIcon {
    display: none;
  }
}

/* Dark theme support */
[class="dark"] .quickAccessLink,
[class="topNavbarDark dark"] .quickAccessLink {
  border: 1px solid #373a40;
}

[class="dark"] .quickAccessIcon,
[class="topNavbarDark dark"] .quickAccessIcon {
  border: none;
}

